.dialog{
    width: 65%;
    padding: 2rem;
    background-color: white;
}
textarea{
    width: 100%;
    resize: vertical;
    margin-bottom: 0.7rem;
    height: 80px;
    padding: 0.5rem;
    font-size: smaller;
}