body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f4f6fa;
}
.btn {
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #0665d0;
    color: white;
    font-size: .875rem;
    padding: 0.8rem 1.2rem;
    font-weight: 600;
    border: none;
    letter-spacing: initial;
}